@import "settings";

body {
    background-color: #f2f2f2;
    .container{
        max-width: 900px;
        min-width: 448px;
        margin: 0 auto;
        padding: 0 15px;
        //border:1px solid;
    }
        header{
            nav{
                height: 70px;
                line-height: 70px;
                background-color: #fff;
                box-shadow: 4px 0px 6px #ccc;

               .container{
                @include flex(row, space-between, center);
                ul {
                    @include flex(row, space-between, center);  
                    li{
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }
               }
                        
            }

               
        }

        .search-area{
            .container{
                @include flex (row, space-between, center);
                margin-top: 3rem;
                margin-bottom: 3rem;

                .search-form{
                    background-color: #fff;
                    padding: 15px;
                    width:40%;
                    min-width: 300px;
                    border-radius: 5px;
                    box-shadow: 0px 2px 3px #ccc;


                    input {
                        border: none;
                        outline: none;
                        overflow: hidden;
                        width: 70%;
                        margin-left: 1rem;
                       
                       
                    }                        
                }

                .filter-region {
                    background-color: #fff;
                    padding: 15px;
                    width: 25%;
                    // min-width: 300px;
                    border-radius: 5px;
                    box-shadow: 0px 2px 3px #ccc;

                    select{
                        border: none;
                        width: 100%;
                        outline: none;
                    }
                }
            }
        }

    .cards{
        background-color:#fff;
        width: 180px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px #ccc;
        overflow: hidden;
        height: 250px;
        line-height: 1.1rem;
        
        .image{
            width: 100%;
            img{
                width: 100%;
                cursor: pointer;
            }
        }         

        .detail {
            padding: 10px;
            font-size: 0.9rem;
            text-align: left;
        }

        h4 {
            margin: 3px;
            margin-bottom: 0.5rem;
            width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p{
            margin: 3px;
            padding: 1px
        }

        span{
            font-weight: bold;
        }

        }       
    }

    .main{
        .container{
            @include flex(row, space-between, center);
            display: flex;
            // align-items:flex-start;
            flex-wrap: wrap;
            padding: 0;
            .cards{
                margin: 1rem;
            }
        }
    }